{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <meta name="google-site-verification" content="SouBQwD-vjayqmjz-ohaEt6C0UI-hraX1AfZzaCPrjU" /> -->

  <title>Formants Guide</title>

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/grey_darker2.css' %}" rel="stylesheet">
  <link href="{% static 'css/formantsguide.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/grey-audio-player.css' %}" />
  <!-- <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet"> -->
</head>

<body>
  <div id="vue_wrapper" v-cloak>

    <!-- Navigation menu-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
      <div class="container">
        <span class="navbar-text" style="color: #ffffff; font-size: 1.2em; padding: 0px;">
          Formants Guide
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#about_modal">About</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#contact_modal">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Navigation menu modals -->
    <div class="modal fade" id="about_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Formants Guide</p>
            <p>Ver. 0.1</p>
            <p>October 2023</p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="contact_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Łukasz Stolarski</p>
            <p>lukasz.stolarski@ujk.edu.pl</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12" style="height:2em;"></div>

    <!-- Main content -->
    <div class="formantsguide_container">

      <!-- Welcome info -->
      <div class="row">
        <div class="col text-center d-flex justify-content-center">
          <div class="card card-block d-flex shadow" style="max-width: 1000px;">
            <div class="card-body align-items-center">
              <p class="card-text">Welcome to Formants Guide,
                a site which helps you with estimating formant values of vowel articulation.
                Once you have measured formants in an acoustic analysis software such as <i>Praat</i>,
                you can compare the measurements with the values in different regions of the IPA Vowel Diagram.
              </p>
            </div>
          </div>
        </div>
      </div>

      <br>
      <br>

      <!-- Settings -->
      <div class="row justify-content-center">
        <div class="col text-center justify-content-center">
          <!-- you can also format this card using the same formatting as for the info card... -->
          <!-- <div class="card shadow mx-auto" style="max-width: 60rem;"> -->
          <div class="card shadow mx-auto" style="max-width: 1000px">
            <div class="card-body">
              <h3 class="card-text">Settings</h3>
              <form id="userform" v-on:submit.prevent="">
                {% csrf_token %}
                <br>
                <div class="row justify-content-center">
                  <div class="col-md text-center justify-content-center">
                    <div class="card shadow-sm fg-settings-card">
                      <div class="card-body">
                        <h5>Phonetician Group</h5>
                        <br>
                        <div class="form-group text-left">
                          <!-- <label for="group">Speaker Group:</label> -->
                          <div class="custom-control custom-radio">
                            <input checked type="radio" id="male-phoneticians-radio" name="phonetician-group" value="male"
                              class="custom-control-input" v-on:click="disablePhoneticiansList">
                            <label class="custom-control-label" for="male-phoneticians-radio">Male</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" id="female-phoneticians-radio" name="phonetician-group" value="female"
                              class="custom-control-input" v-on:click="disablePhoneticiansList">
                            <label class="custom-control-label" for="female-phoneticians-radio">Female</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" id="selected-phoneticians-radio" name="phonetician-group" value="selected"
                              class="custom-control-input" v-on:click="enablePhoneticiansList">
                            <label class="custom-control-label" for="selected-phoneticians-radio">Selected</label>
                          </div>
                        </div>

                        <!-- <div class="form-group text-left" v-if="phoneticiansList"> -->
                        <div class="form-group text-left">
                          <label for="phoneticians">Phoneticians:</label>
                          <select disabled multiple class="custom-select form-control" size="7" id="phoneticians"
                            name="phoneticians">
                            <option class="male" selected>Bruce Hayes (male)</option>
                            <option class="male" id="daniel-jones" selected>Daniel Jones (male)</option>
                            <option class="male" selected>Dan Lenard (male)</option>
                            <option class="male" selected>David Madore (male)</option>
                            <option class="female">Iza (female)</option>
                            <option class="female">Jil House (female)</option>
                            <option class="male" selected>John Wells (male)</option>
                            <option class="male" selected>Jonathan Dowse (male)</option>
                            <option class="male" selected>Jürgen Handke (male)</option>
                            <option class="male" selected>Łukasz Stolarski (male)</option>
                            <option class="male" selected>"Macquire University" (male)</option>
                            <option class="female">Magda (female)</option>
                            <option class="female">Ola Matysiak (female)</option>
                            <option class="male" selected>Peter Ladefoged 1 (male)</option>
                            <option class="male" selected>Peter Ladefoged 2 (male)</option>
                            <option class="male" selected>"The University of Sheffield" (male)</option>
                            <option class="female">"The University of Sheffield" (female)</option>
                            <option class="male" selected>"University of Victoria" (male)</option>
                            <option class="male" selected>"Wikipedia" (male)</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col text-center justify-content-center">
                    <div class="card shadow-sm fg-settings-card">
                      <div class="card-body">
                        <!-- <p class="card-text">General Graph Settings: <br> (affect both spectrograms and spectral slices)</p> -->
                        <h5>General Graph Settings <br> (affect both spectrograms and spectral slices)</h5>
                        <br>
                        <div class="form-group text-left">
                          <label for="general_graph_settings">Window Length:</label>
                          <div class="custom-control custom-radio">
                            <input checked type="radio" id="broadband-radio" name="window-length" value="broadband"
                              class="custom-control-input" v-on:click="disableWindowLengthInput">
                            <label class="custom-control-label" for="broadband-radio">Broadband</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" id="narrowband-radio" name="window-length" value="narrowband"
                              class="custom-control-input" v-on:click="disableWindowLengthInput">
                            <label class="custom-control-label" for="narrowband-radio">Narrowband</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" id="customband-radio" name="window-length" value="custom"
                              class="custom-control-input" v-on:click="enableWindowLengthInput">
                            <label class="custom-control-label" for="customband-radio">Custom</label>
                          </div>
                          <div class="col-xs-12" style="height:0.75em;"></div>
                          <input disabled class="form-control" id="window-length-input" type="text" value="0.005" size="5"
                            style="max-width: 5rem">
                          <div class="col-xs-12" style="height:1.5em;"></div>
                          <div class="custom-control custom-checkbox">
                            <input checked type="checkbox" class="custom-control-input" id="showFormantsCheck"
                              name="showFormantsCheck">
                            <label class="custom-control-label" for="showFormantsCheck">Show Formants</label>
                          </div>
                          <div class="custom-control custom-checkbox">
                            <input checked type="checkbox" class="custom-control-input" id="addTitleCheck"
                              name="addTitleCheck">
                            <label class="custom-control-label" for="addTitleCheck">Add Title</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col text-center justify-content-center">
                    <div class="card shadow-sm fg-settings-card">
                      <div class="card-body">
                        <!-- <p class="card-text">Additional Spectrogram Settings:</p> -->
                        <h5>Additional Spectrogram Settings</h5>
                        <br>
                        <div class="form-group text-left">
                          <label for="exampleInputEmail1">Dynamic Range (dB):</label>
                          <input class="form-control" type="text" value="50" size="5"
                            style="max-width: 5rem">
                        </div>
                        <div class="form-group text-left">
                          <label for="exampleInputEmail1">dB coefficient:</label>
                          <input class="form-control" type="text" value="10" size="5"
                            style="max-width: 5rem">
                        </div>




                        <div class="form-group text-left">
                          <label for="spectrogram_colour_scheme">Colour Scheme:</label>
                          <div class="custom-control custom-radio">
                            <input checked type="radio" id="blackOnWhite" name="colourScheme" value="blackOnWhite"
                              class="custom-control-input">
                            <label class="custom-control-label" for="blackOnWhite">Black on White</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" id="whiteOnBlack" name="colourScheme" value="whiteOnBlack"
                              class="custom-control-input">
                            <label class="custom-control-label" for="whiteOnBlack">White on Black</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" id="flames" name="colourScheme" value="flames"
                              class="custom-control-input">
                            <label class="custom-control-label" for="flames">Flames</label>
                          </div>
                        </div>
                        <!-- <div class="form-group text-left">
                          <div class="custom-control custom-radio">
                            <input type="radio" id="custombandRadio" name="windowLength" value="custom"
                              class="custom-control-input">
                            <label class="custom-control-label" for="custombandRadio">Custom</label>
                          </div> -->


                          <!-- <label for="general_graph_settings">Window Length:</label>
                          <div class="custom-control custom-radio">
                            <input checked type="radio" id="broadbandRadio" name="windowLength" value="broadband"
                              class="custom-control-input">
                            <label class="custom-control-label" for="broadbandRadio">Broadband</label>
                          </div> -->

                        </div>
                      </div>
                    </div>
                  </div>

                  <br>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>

    <!-- This part is for testing the position of vowel areas -->
    <!-- <div class="row">
        <div class="col text-center d-flex justify-content-center">
          <div>position ${ x }$ ${ y }$</div>
        </div>
      </div> -->

    <!-- Vowel Quadrilateral -->
    <div class="row">
      <div class="col text-center d-flex justify-content-center">
        <div class="image-container">
          <img src="/static/img/IPA_vowel_diagram.jpg" width="1000" height="750" usemap="#vowelsmap"
            v-on:mousemove="showCoordinates">
          </img>
          <!-- In the future, change all absolute values to relative percent values -->
          <div class="vowel_area" id="CV1" style="left:0%; top:0.5%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="create_figure">
          </div>
          <div class="vowel_area" id="CV9" style="left:87px; top:0.5%;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV17" style="left:422px; top:0.5%;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV18" style="left:510px; top:0.5%;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV16" style="left:817px; top:0.5%; width:70px;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV8" style="left:935px; top:0.5%;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV19" style="left:186px; top:113px;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV20" style="left:251px; top:113px;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV21" style="left:739px; top:113px;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV2" style="left:130px; top:226px;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV10" style="left:230px; top:226px;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV22" style="left:485px; top:226px;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV23" style="left:581px; top:226px;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV15" style="left:833px; top:226px;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV7" style="left:935px; top:226px;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV24" style="left:565px; top:336px;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV3" style="left:272px; top:445px;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV11" style="left:370px; top:445px; width:80px;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV25" style="left:555px; top:445px;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV26" style="left:651px; top:445px;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV14" style="left:839px; top:445px;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV6" style="left:935px; top:445px;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV27" style="left:335px; top:568px; width:70px;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV28" style="left:638px; top:552px;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV4" style="left:422px; top:669px;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV12" style="left:517px; top:669px; width:75px" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV5" style="left:839px; top:669px;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
          <div class="vowel_area" id="CV13" style="left:935px; top:669px;" href="#" data-toggle="modal"
            data-target="#results_modal"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Graphs modal -->
  <div class="modal fade" id="results_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>This modal will display results</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12" style="height:2em;"></div>
  <div class="col-xs-12" style="height:2em;"></div>

  <!-- main formantsguide script -->
  <script type="module" src="{% static 'js/formantsguide.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <!-- Vue JS-->
  <script src="https://unpkg.com/vue@3.2.33/dist/vue.global.prod.js"></script>
  <!-- formantsguide Vue scripts -->
  <script type="module" src="{% static 'js/formantsguide-vue-main.js' %}"></script>
  <!-- Additional scripts -->
  <!-- <script src="{% static 'js/layeredCanvas.js' %}"></script> -->
  <!-- <script src="{% static 'js/grey-audio-player.js' %}"></script> -->

  </div>
</body>

</html>