{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <meta name="google-site-verification" content="SouBQwD-vjayqmjz-ohaEt6C0UI-hraX1AfZzaCPrjU" /> -->

  <title>Formants Guide</title>

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/grey_darker2.css' %}" rel="stylesheet">
  <link href="{% static 'css/formantsguide.css' %}" rel="stylesheet">
</head>

<body>
  <div id="vue_wrapper" v-cloak>

    <!-- Navigation menu-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
      <div class="container">
        <span class="navbar-text" style="color: #ffffff; font-size: 1.2em; padding: 0px;">
          Formants Guide
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#about_modal">About</a>
            </li>



            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Tables
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% static 'summaries/tables/Male Mean Formants.csv' %}" >Male Mean Formants</a>
                <a class="dropdown-item" href="{% static 'summaries/tables/Female Mean Formants.csv' %}">Female Mean Formants</a>
              </div>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Graphs
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% static 'summaries/graphs/Male Primary-Secondary Cardinal Vowels.jpg' %}" target="_blank">Male Primary-Secondary</a>
                <a class="dropdown-item" href="{% static 'summaries/graphs/Male Inner Cardinal Vowels.jpg' %}" target="_blank">Male Inner</a>
                <a class="dropdown-item" href="{% static 'summaries/graphs/Female Primary-Secondary Cardinal Vowels.jpg' %}" target="_blank">Female Primary-Secondary</a>
                <a class="dropdown-item" href="{% static 'summaries/graphs/Female Inner Cardinal Vowels.jpg' %}" target="_blank">Female Inner</a>

              </div>
            </li>



            <li class="nav-item active">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#contact_modal">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Navigation menu modals -->
    <div class="modal fade" id="about_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Formants Guide</p>
            <p>Ver. 1.3</p>
            <p>March 2024</p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="contact_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Łukasz Stolarski</p>
            <p>lukasz.stolarski@ujk.edu.pl</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12" style="height:2em;"></div>

    <!-- Main content -->
    <div class="formantsguide_container">

      <!-- Welcome info -->
      <div class="row">
        <div class="col text-center d-flex justify-content-center">
          <div class="card card-block d-flex shadow" style="max-width: 1000px;">
            <div class="card-body align-items-center">
              <p class="card-text">Welcome to Formants Guide, a site that assists you in estimating formant values for
                vowel articulation. Once you have measured formants in acoustic analysis software such as <i>Praat</i>,
                you can compare the measurements with the values in different regions of the IPA Vowel Diagram. The
                values obtained on this site are averages for the sample of phoneticians you have chosen in the panel
                "Phonetician Group".
              </p>
            </div>
          </div>
        </div>
      </div>

      <br>
      <br>

      <!-- Settings -->
      <div class="row justify-content-center">
        <div class="col text-center justify-content-center">
          <div class="card shadow mx-auto" style="max-width: 1000px">
            <div class="card-body">
              <h3 class="card-text">Settings</h3>
              <form id="userform" v-on:submit.prevent="">
                {% csrf_token %}
                <div class="row justify-content-center">

                  <div class="col-lg text-center justify-content-center">
                    <div class="card shadow-sm fg-settings-card">
                      <div class="card-body">
                        <h5>Phonetician Group</h5>
                        <br>
                        <div class="form-group text-left">
                          <div class="custom-control custom-radio">
                            <input checked type="radio" id="male-phoneticians-radio" name="phonetician-group"
                              value="male" class="custom-control-input" v-on:click="disablePhoneticiansList">
                            <label class="custom-control-label" for="male-phoneticians-radio">Male</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" id="female-phoneticians-radio" name="phonetician-group" value="female"
                              class="custom-control-input" v-on:click="disablePhoneticiansList">
                            <label class="custom-control-label" for="female-phoneticians-radio">Female</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" id="selected-phoneticians-radio" name="phonetician-group"
                              value="selected" class="custom-control-input" v-on:click="enablePhoneticiansList">
                            <label class="custom-control-label" for="selected-phoneticians-radio">Selected</label>
                            <img class="fg-info-icon" src="/static/img/info_icon.png" data-toggle="tooltip"
                              data-placement="right"
                              title="To select individual phoneticians at different places, use 'Ctrl'"></img>
                            </button>
                          </div>
                        </div>
                        <div class="form-group text-left">
                          <label for="phoneticians">Phoneticians:</label>
                          <select disabled multiple class="custom-select form-control" size="7" id="phoneticians"
                            name="phoneticians">
                            <option class="male" value="alvin_leong" selected>Alvin Leong (male)</option>
                            <option class="male" value="australianlinguistics" selected>"Australianlinguistics" (male)
                            </option>
                            <option class="male" value="bruce_hayes" selected>Bruce Hayes (male)</option>
                            <option class="male" value="daniel_jones" id="daniel-jones" selected>Daniel Jones (male)
                            </option>
                            <option class="male" value="dan_lenard" selected>Dan Lenard (male)</option>
                            <option class="male" value="david_madore" selected>David Madore (male)</option>
                            <option class="female" value="iza_grabarczyk">Iza Grabarczyk (female)</option>
                            <option class="female" value="jill_house">Jill House (female)</option>
                            <option class="male" value="john_wells" selected>John Wells (male)</option>
                            <option class="male" value="jonathan_dowse" selected>Jonathan Dowse (male)</option>
                            <option class="male" value="jurgen_handke" selected>Jürgen Handke (male)</option>
                            <option class="male" value="lukasz_stolarski" selected>Łukasz Stolarski (male)</option>
                            <option class="male" value="macquire_university" selected>"Macquire University" (male)
                            </option>
                            <option class="female" value="magda_zajac">Magda Zając (female)</option>
                            <option class="female" value="ola_matysiak">Ola Matysiak (female)</option>
                            <option class="male" value="peter_ladefoged_1" selected>Peter Ladefoged 1 (male)</option>
                            <option class="male" value="peter_ladefoged_2" selected>Peter Ladefoged 2 (male)</option>
                            <option class="male" value="university_of_sheffield_male" selected>"University of Sheffield"
                              (male)</option>
                            <option class="female" value="university_of_sheffield_female">"University of Sheffield" (female)
                            </option>
                            <option class="male" value="university_of_victoria" selected>"University of Victoria" (male)
                            </option>
                            <option class="male" value="wikipedia" selected>"Wikipedia" (male)</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg text-center justify-content-center">
                    <div class="card shadow-sm fg-settings-card">
                      <div class="card-body">
                        <h5>General Graph Settings <br> (for both Spectrums and Quasi-Spectrograms)</h5>
                        <br>
                        <div class="form-group text-left">
                          <label for="general_graph_settings">Window Length:</label>
                          <div class="custom-control custom-radio">
                            <input checked type="radio" id="broadband-radio" name="window-length" value="broadband"
                              class="custom-control-input" v-on:click="disableWindowLengthInput">
                            <label class="custom-control-label" for="broadband-radio">Broadband</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" id="narrowband-radio" name="window-length" value="narrowband"
                              class="custom-control-input" v-on:click="disableWindowLengthInput">
                            <label class="custom-control-label" for="narrowband-radio">Narrowband</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" id="customband-radio" name="window-length" value="custom"
                              class="custom-control-input" v-on:click="enableWindowLengthInput">
                            <label class="custom-control-label" for="customband-radio">Custom</label>
                            <img class="fg-info-icon" src="/static/img/info_icon.png" data-toggle="tooltip"
                              data-placement="right"
                              title="Accepted values for the custom window length are between 0.1 and 0.0005"></img>
                          </div>
                          <div class="col-xs-12" style="height:0.75em;"></div>
                          <input disabled class="form-control" id="window-length-input" type="text"
                            name="window-length-input" value="0.005" size="5" style="max-width: 5rem">
                          <div class="col-xs-12" style="height:1.5em;"></div>
                          <div class="custom-control custom-checkbox">
                            <input checked type="checkbox" class="custom-control-input" id="show-formants"
                              name="show-formants" v-on:click="toggleShowF3Checkbox">
                            <label class="custom-control-label" for="show-formants">Show Formants</label>
                          </div>
                          <!-- this tickbox is hidden for now - better not deal with F3 openly before publishing... -->
                          <!-- to make it operatable, also enable the toggleShowF3Checkbox() function in formantsguide-vue-main.js -->
                          <div v-show="false" class="custom-control-wrapper" style="margin-left: 1.5em;">
                            <div class="custom-control custom-checkbox">
                              <input checked type="checkbox" class="custom-control-input" id="show-f3" name="show-f3">
                              <label class="custom-control-label" for="show-f3">Show F3</label>
                              <img class="fg-info-icon" src="/static/img/info_icon.png" data-toggle="tooltip"
                                data-placement="right"
                                title="Measurements of F3 may not always be perfectly precise"></img>
                            </div>
                          </div>
                          <div class="col-xs-12" style="height:0.5em;"></div>
                          <div class="custom-control custom-checkbox">
                            <input checked type="checkbox" class="custom-control-input" id="add-title" name="add-title">
                            <label class="custom-control-label" for="add-title">Add Title</label>
                          </div>
                          <div class="col-xs-12" style="height:0.5em;"></div>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="normalize-power"
                              name="normalize-power" v-on:click="reactToNormalizePower">
                            <label class="custom-control-label" for="normalize-power">Normalize Power</label>
                            <img class="fg-info-icon" src="/static/img/info_icon.png" data-toggle="tooltip"
                              data-placement="right"
                              title="Enable to normalize Power values [dB/Hz] to z-scores. This compensates for potential variations in intensity across different recordings."></img>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg text-center justify-content-center">
                    <div class="card shadow-sm fg-settings-card">
                      <div class="card-body">
                        <h5>Additional Settings for Quasi-Spectrograms</h5>
                        <br>
                        <div class="form-group text-left">
                          <label for="dynamic-range">Dynamic Range (dB):</label>
                          <input class="form-control" type="text" name="dynamic-range" id="dynamic-range" value="50"
                            size="5" style="max-width: 5rem">
                        </div>
                        <div class="form-group text-left">
                          <label for="db-coefficient">dB coefficient:</label>
                          <input class="form-control" type="text" name="db-coefficient" id="db-coefficient" value="10"
                            size="5" style="max-width: 5rem">
                        </div>
                        <div class="form-group text-left">
                          <label for="spectrogram_colour_scheme">Colour Scheme:</label>
                          <div class="custom-control custom-radio">
                            <input checked type="radio" id="black-on-white" name="colour-scheme" value="black-on-white"
                              class="custom-control-input">
                            <label class="custom-control-label" for="black-on-white">Black on White</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" id="white-on-black" name="colour-scheme" value="white-on-black"
                              class="custom-control-input">
                            <label class="custom-control-label" for="white-on-black">White on Black</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" id="flames" name="colour-scheme" value="flames"
                              class="custom-control-input">
                            <label class="custom-control-label" for="flames">Flames</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <br>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>


    <div class="row">
      <div class="col text-center d-flex justify-content-center">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="fg-numbering-switch" v-on:click="toggleNumbering">
          <label class="custom-control-label" for="fg-numbering-switch">Hide/Show numbering</label>
        </div>
      </div>
    </div>
    <br>

    <!-- This part is for testing the position of vowel areas -->
    <!-- <div class="row">
        <div class="col text-center d-flex justify-content-center">
          <div>position ${ x }$ ${ y }$</div>
        </div>
      </div> -->

    <!-- Vowel Quadrilateral -->
    <div class="row">
      <div class="col text-center d-flex justify-content-center">
        <div class="image-container">

          <!-- remove this later - fixed width and height -->
          <!-- <img v-bind:src="diagramPathAndName" width="1000" height="750" usemap="#vowelsmap"
            v-on:mousemove="showCoordinates" id="fg-vowel-quadrilateral">
          </img> -->
          <!-- In the future, change all absolute values to relative percent values -->
          <!-- <div class="vowel_area" id="CV1" style="left:0%; top:0.5%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs">
          </div>
          <div class="vowel_area" id="CV9" style="left:87px; top:0.5%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV17" style="left:422px; top:0.5%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV18" style="left:510px; top:0.5%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV16" style="left:817px; top:0.5%; width:70px;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV8" style="left:935px; top:0.5%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV19" style="left:186px; top:113px;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV20" style="left:251px; top:113px;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV21" style="left:739px; top:113px;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV2" style="left:130px; top:226px;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV10" style="left:230px; top:226px;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV22" style="left:485px; top:226px;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV23" style="left:581px; top:226px;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV15" style="left:833px; top:226px;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV7" style="left:935px; top:226px;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV24" style="left:565px; top:336px;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV3" style="left:272px; top:445px;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV11" style="left:370px; top:445px; width:80px;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV25" style="left:555px; top:445px;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV26" style="left:651px; top:445px;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV14" style="left:839px; top:445px;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV6" style="left:935px; top:445px;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV27" style="left:335px; top:568px; width:70px;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV28" style="left:638px; top:552px;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV4" style="left:422px; top:669px;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV12" style="left:517px; top:669px; width:75px" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV5" style="left:839px; top:669px;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV13" style="left:935px; top:669px;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div> -->

          <img v-bind:src="diagramPathAndName" usemap="#vowelsmap" v-on:mousemove="showCoordinates"
            id="fg-vowel-quadrilateral">
          </img>
          <div class="vowel_area" id="CV1" style="left:0%; top:0.5%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs">
          </div>
          <div class="vowel_area" id="CV9" style="left:8.7%; top:0.5%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV17" style="left:42.2%; top:0.5%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV18" style="left:51%; top:0.5%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV16" style="left:81.7%; top:0.5%; width:7%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV8" style="left:93.5%; top:0.5%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV19" style="left:18.6%; top:15%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV20" style="left:25.1%; top:15%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV21" style="left:73.9%; top:15%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV2" style="left:13%; top:30.1%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV10" style="left:23%; top:30.1%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV22" style="left:48.5%; top:30.1%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV23" style="left:58.1%; top:30.1%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV15" style="left:83.3%; top:30.1%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV7" style="left:93.5%; top:30.1%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV24" style="left:56.5%; top:44.8%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV3" style="left:27.2%; top:59%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV11" style="left:37%; top:59%; width:8%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV25" style="left:55.5%; top:59%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV26" style="left:65.1%; top:59%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV14" style="left:83.9%; top:59%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV6" style="left:93.5%; top:59%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV27" style="left:33.5%; top:75.5%; width:7%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV28" style="left:63.8%; top:73%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV4" style="left:42.2%; top:89.1%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV12" style="left:51.7%; top:89.1%; width:7.5%" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV5" style="left:83.9%; top:89.1%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
          <div class="vowel_area" id="CV13" style="left:93.5%; top:89.1%;" href="#" data-toggle="modal"
            data-target="#results_modal" v-on:click="createGraphs"></div>
        </div>
      </div>
    </div>
    <!-- Graphs modal -->
    <div class="modal fade" id="results_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div v-if="spectrogramPathAndName" class="text-center">
                <div class="card shadow mx-auto" style="max-width: 40rem;">
                  <div class="card-body fg-results-card">
                    <p>Results for Cardinal Vowel number ${ cardinalVowel }$:</p>
                    <div class="row justify-content-around align-items-center">
                      <div class="col-auto text-left">
                        <p class="fg-results-paragraph">Phonetician group: ${ phoneticianGroup }$</p>
                        <p class="fg-results-paragraph">Sample size: ${ sampleSize }$</p>
                        <p class="fg-results-paragraph">Phoneticians in the sample:
                        <div v-for="phonetician in phoneticiansFound"> ${ phonetician }$ </div>
                        </p>
                        <!-- <p class="fg-results-paragraph" v-for="phonetician in phoneticiansFound">Phoneticians in the sample:
                           ${ phonetician }$ </p> -->
                        <p class="fg-results-paragraph">Window length: ${ windowLength }$</p>
                      </div>
                      <div class="col-auto text-left">
                        <p class="fg-results-paragraph">Mean formant values:</p>
                        <p class="fg-results-paragraph" style="color: #1F77B4">F1: ${ f1 }$ Hz</p>
                        <p class="fg-results-paragraph" style="color: #2CA02C">F2: ${ f2 }$ Hz</p>
                        <p v-if="showF3" class="fg-results-paragraph" style="color: #FFD700">F3: ${ f3 }$ Hz</p>
                      </div>
                    </div>
                  </div>
                </div>
                <img v-bind:src="spectrumPathAndName" class="fg-result-image">
                <img v-bind:src="spectrogramPathAndName" class="fg-result-image">
                <div class="col-xs-12" style="height:1em;"></div>
                <div class="row ">
                  <div class="col text-center">
                    <a v-bind:href="spectrumPathAndName" class="button" id="image_download" download>
                      <button type="button" class="btn btn-primary" id="image_download_button">Save
                        image</button>
                    </a>
                  </div>
                  <div class="col text-center">
                    <a v-bind:href="spectrogramPathAndName" class="button" id="image_download" download>
                      <button type="button" class="btn btn-primary" id="image_download_button">Save
                        image</button>
                    </a>
                  </div>
                </div>
              </div>
              <div v-else-if="recordingsNotAvailable">
                <div class="row">
                  <div class="col text-center justify-content-center">
                    <p>Recordings for this Cardinal Vowel are not available for the selected phoneticians.</p>
                    <p>Please choose other options.</p>

                  </div>
                </div>
              </div>
              <div v-else-if="incorrectWindowLength">
                <div class="row">
                  <div class="col text-center justify-content-center">
                    <p>Accepted values for the custom window length are between 0.1 and 0.0005.</p>
                    <p>Please choose a different value from the one you have submitted.</p>

                  </div>
                </div>
              </div>
              <div v-else>
                <div class="row">
                  <div class="col text-center justify-content-center">
                    <p>Please wait, processing...</p>
                    <div class="col-xs-12" style="height:0.75em;"></div>
                    <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12" style="height:2em;"></div>
  <div class="col-xs-12" style="height:2em;"></div>

  <!-- Bootstrap -->
  <script src="{% static 'jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <!-- Vue JS-->
  <script src="https://unpkg.com/vue@3.2.33/dist/vue.global.prod.js"></script>
  <!-- formantsguide Vue scripts -->
  <script type="module" src="{% static 'js/formantsguide-vue-main.js' %}"></script>
  <!-- Additional scripts -->
  <script src="{% static 'js/formantsguide.js' %}"></script>

  </div>
</body>

</html>